<div class="footer txt_footer lang_ko">

  <ul class="f_info">
    <li>경기도 안양시 동안구 비산동 임곡로 29&nbsp;전산관 5층&nbsp;|&nbsp;&nbsp; 모바일인터넷과 이원택 , 유영준 </li>
  </ul>
  <p class="copy">Copyright ⓒ <span>대림마켓</span> All Rights Reserved</p>
</div>
