<footer class="site-footer custom-border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ml-auto mb-6 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Quick Links</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">퀵 메뉴1</a></li>
                            <li><a href="#">퀵 메뉴2</a></li>
                            <li><a href="#">퀵 메뉴3</a></li>
                            <li><a href="#">퀵 메뉴4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">퀵 메뉴5</a></li>
                            <li><a href="#">퀵 메뉴6</a></li>
                            <li><a href="#">퀵 메뉴7</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">퀵 메뉴8</a></li>
                            <li><a href="#">퀵 메뉴9</a></li>
                            <li><a href="#">퀵 메뉴10</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-4">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">경기도 안양시 비산동 임곡로 29</li>
                        <li class="phone"><a href="tel://23923929210">010-8936-5320</a></li>
                        <li class="email">tovie200@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">wontaeklee</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="slick/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>
<script src="js/addstock.js"></script>
    </body>
</html>