<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Write something else you want</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
<!--            crossorigin="anonymous"></script>-->
</head>
<body>
<div class="container">
    <h1 style="text-align: center">상품 등록</h1>
    <hr>
    <form action="addstock.php" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <tbody>
            <form action="write_ok.jsp" method="post" encType="multiplart/form-data">
                <tr>
                    <th>상품명</th>
                    <td><input type="text" placeholder="제목을 입력하세요. " id="name" class="form-control"/></td>
                </tr>
                <tr>
                    <th>상품종류</th>
                    <td><input type="text" placeholder="카테고리를 입력하세요. " id="category" class="form-control"/></td>
                </tr>
                <tr>
                    <th>상품가격</th>
                    <td><input type="text" placeholder="가격을 입력하세요. " id="price" class="form-control"/></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea cols="10" placeholder="내용을 입력하세요. " id="content" class="form-control"></textarea>
                    </td>
                </tr>
                <!--                <tr>-->
                <!--                    <th>사진첨부 </th>-->
                <!--                    <td><input type="file" name="image"></td>-->
                <!--                </tr>-->
                <!--            <tr>-->
                <!--                <th>첨부파일: </th>-->
                <!--                <td><input type="text" placeholder="파일을 선택하세요. " name="filename" class="form-control"/></td>-->
                <!--            </tr>-->
                <tr>
                    <td colspan="2">
                        <input type="button" value="목록" class="pull-right" class="pull-right"
                               onclick="javascript:location.href='/shop'"/>
                        <button id="regist" type="button">등록</button>
                    </td>
                </tr>
            </form>
            </tbody>
        </table>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>
<script src="/js/addstock.js"></script>
</body>
</html>