<html>
<head>
    <meta charset="utf-8">
    <title>회원정보 찾기</title>
    <link rel="stylesheet" type="text/css" href="css/login/register.css">
</head>
<body>
<div class="wrap wd668">
    <div class="container">
        <div class="form_txtInput">
            <h2 class="sub_tit_txt" style="text-align: center">회원정보 찾기</h2>
            <p class="exTxt" style="text-align: center; color: #cd0a0a">아래의 정보를 모두 입력해주세요.</p>
            <div class="join_form">
                <table>
                    <colgroup>
                        <col width="30%"/>
                        <col width="auto"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th><span>학번</span></th>
                        <td><input type="text" placeholder="학번을 입력하세요."></td>
                    </tr>
                    <tr>
                        <th><span>이름</span></th>
                        <td><input type="text" placeholder="이름을 입력해주세요."></td>
                    </tr>
                    <tr>
                        <th><span>비밀번호</span></th>
                        <td><input type="text" placeholder="비밀번호를 입력해주세요."></td>
                    </tr>
                </table>
            </div><!-- join_form E  -->

            <div class="btn_wrap">
                <a href="javascript:;">찾기</a>
            </div>
        </div> <!-- form_txtInput E -->
    </div><!-- content E-->
</div> <!-- container E -->
</body>
</html>