{{>layout/header}}

<section class="category-grid" xmlns:th="http://www.w3.org/1999/xhtml">
        <ul class="flex-container">
            <!-- Announcements -->

            <a href="/notice">
                <li class="flex-item notice">
                    <h2>공지사항</h2>
                    <hr />
                    <h3>공지사항을 확인하세요</h3>
                </li>
            </a>

            <!-- Discord UI -->
            <a href="addstock">
                <li class="flex-item add">
                    <h2>상품 등록</h2>
                    <hr />
                    <h3>판매 상품을 등록하세요</h3>
                </li>
            </a>
            </div>

            <a href="shop">
                <li class="flex-item list">
                    <h2>상품 목록</h2>
                    <hr />
                    <h3>판매 상품을 등록하세요</h3>
                </li>
            </a>


            <a href="#">
                <li class="flex-item look">
                    <h2>거래 조회</h2>
                    <hr />
                    <h3>거래 중인 상품을 확인해보세요</h3>
                </li>
            </a>

            <a href="#">
                <li class="flex-item my">
                    <h2>내 정보</h2>
                    <hr />
                    <h3>회원정보 조회 및 수정</h3>
                </li>
            </a>

            <a href="service">
                <li class="flex-item service">
                    <h2>고객센터</h2>
                    <hr />
                    <h3>도움이 필요하신가요?</h3>
                </li>
            </a>
        </ul>
    </section>



</main>

{{>layout/footer}}
