{{>layout/header}}

<div class="custom-border-bottom py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Shop</strong></div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
                <div class="row mb-5">


                    {{#posts}}
                        <div class="col-lg-6 col-md-6 item-entry mb-4">

                            <a href="#" class="product-item md-height bg-gray d-block">
                            </a>
                            <h2 class="item-title"><a href="/detail/{{id}}">{{name}}</a></h2>
                            <strong class="item-price">{{price}}원</strong>

                        </div>
                    {{/posts}}
                    <!--                -->
                              </div>
                    <!--            </div>-->

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{>layout/footer}}