<!DOCTYPE html>
<html lang="en">
<head>
	<title>대림마켓 - 거래현황 조회</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
	<!--===============================================================================================-->
	<link rel="stylesheet" href="css/flex/bootstrap.min.css">
	<link rel="stylesheet" href="css/flex/magnific-popup.css">
	<link rel="stylesheet" href="css/flex/jquery-ui.css">
	<link rel="stylesheet" href="css/flex/owl.carousel.min.css">
	<link rel="stylesheet" href="css/flex/owl.theme.default.min.css">

	<link rel="stylesheet" href="css/flex/aos.css">
	<link rel="stylesheet" href="css/flex/style.css">

	<link rel="stylesheet" type="text/css" href="css/flex/main.css">
	<link rel="stylesheet" type="text/css" href="css/flex/default.css">
	<!--===============================================================================================-->

	<link type="text/css" rel="stylesheet" href="css/commonde1a.css"/>
	<link type="text/css" rel="stylesheet" href="css/header.19871.css" />
	<link type="text/css" rel="stylesheet" href="css/login/common_renew_v1.css" />

</head>
<body class="animsition">
	
	<!-- Header -->
	<div id="header">
		<div class="headerTop">
			<div class="First">
				<div class="hdLeft"><a href="javascript:CreateBookmarkLink('index.html', 'WMDK 매트리스 전문점');">+ BOOKMARK</a></div>
				<div class="hdRight">
					<ul>
						<li><a href="#" onclick="javascript:popup()" target="_blank">로그인</a></li>
						<li><a href="register1.html">회원가입</a>

						<li><a href="shop/membera005.html?type=mynewmain">마이페이지</a></li>
					</ul>

				</div>
			</div>
			<h1 class="tlogo"><a href="index.html"><img src="images/titlelogo.png"></a></h1>
		</div>
		<!-- //headerTop -->

		<div class="headerBottom">
			<div class="navWrap">
				<div class="lnb_wrap">
					<div class="menuAll">
						<p id="btn_allMenu" action="http://www.wmdkstore.co.kr/board/off"><span>MENU</span></p>
					</div>
					<ul class="menulist">
						<li class="lnb_depth1"><a href="product.html?xcode=001&amp;type=X" class="lnb_menu" onMouseOver='this.innerHTML="의류 및 잡화"' onMouseOut='this.innerHTML="의류/잡화"'>의류/잡화</a>
							<div class="lnb_depth2">
								<ul>
									<li><a href="#">의류</a></li>
									<li><a href="#">신발</a></li>
									<li><a href="#">가방</a></li>
								</ul>
							</div>
						</li>
						<li class="lnb_depth1"><a href="shop/page95dc.html?id=29" onMouseOver='this.innerHTML="식품"' onMouseOut='this.innerHTML="식품"'>식품</a>
							<div class="lnb_depth2">
								<ul>
									<li><a href="shop/page95dc.html?id=29">Bedlab</a></li>
									<li><a href="shop/page8bcf.html?id=30">Perfect Mattress</a></li>
								</ul>
							</div>
						</li>
						<li class="lnb_depth1"><a href="board/power_review.html?code=wmdk_board2" onMouseOver='this.innerHTML="디지털 및 가전"' onMouseOut='this.innerHTML="디지털/가전"'>디지털/가전</a>
							<div class="lnb_depth2">
								<ul>
									<li><a href="board/power_review.html?code=wmdk_board2">WMDK Review</a></li>
									<li><a href="board/board98c8.html?code=wmdk_image2">Offline Shop Review</a></li>
								</ul>
							</div>
						</li>
						<li class="lnb_depth1"><a href="board/boarda3e7.html?code=wmdk" onMouseOver='this.innerHTML="도서 및 음반"' onMouseOut='this.innerHTML="도서/음반"'>도서/음반</a>
							<div class="lnb_depth2">
								<ul>
									<li><a href="board/boarda3e7.html?code=wmdk">Q&A</a></li>
									<li><a href="shop/pagea9bc.html?id=19">FAQ</a></li>
									<li><a href="board/board737c.html?code=wmdk_board3">Notice</a></li>
									<li><a href="board/board5500.html?code=wmdk_image3">MATTRESS GUIDE</a></li>
									<li><a href="shop/page6258.html?id=21">USA Member</a></li>
									<li><a href="shop/page0b30.html?id=2">WMDK Offline Shop</a></li>
									<li><a href="shop/pagee371.html?id=18">AS Quality Assurance</a></li>
								</ul>
							</div>
						</li>
						<li class="lnb_depth1"><a href="board/boardeb4e.html?code=wmdk_image4" onMouseOver='this.innerHTML="카테고리 5"' onMouseOut='this.innerHTML="Category 5"'>Category 5</a>
							<div class="lnb_depth2">
								<ul>
									<li><a href="board/boardeb4e.html?code=wmdk_image4">진행중 이벤트</a></li>
									<li><a href="board/board4dbc.html?code=wmdk_image5">진행완료 이벤트</a></li>
								</ul>
							</div>
						</li>
					</ul>



					<ul class="menu_ico">
						<li><a href="shop/basket.html"><img src="images/basket.gif" /></a></li>
						<li class="joinus"><a href="shop/mypage.html"><img src="images/info.gif" /></a>
							<!--div class="point"><span></span><em>+2,000P</em></div-->
						</li>
						<li class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-search"><a href="shop/shopbrand33b4.html?search=&amp;prize1=">
							<img src="images/search.gif" /></a>
						</li>
					</ul>
				</div>

				<!-- 전체보기 메뉴 -->
				<div id="allMenuView" class="allMenuView">
					<div class="all_menuList">

						<ul>
							<li><a href="shop/shopbrand84cb.html?xcode=001&amp;type=M&amp;mcode=001">Sealy</a></li>
							<li><a href="shop/shopbrandbb32.html?xcode=001&amp;mcode=007&amp;type=X">Sealy Crown Jewel</a></li>
							<li><a href="shop/shopbrandbd9a.html?xcode=001&amp;type=M&amp;mcode=002">Stearns&Foster</a></li>
							<li><a href="shop/shopbrand12a0.html?xcode=001&amp;type=M&amp;mcode=003">Tempur-pedic</a></li>
							<li><a href="shop/shopbrand658d.html?xcode=001&amp;type=M&amp;mcode=008">Spinal Care Bedding</a></li>
							<li><a href="shop/shopbrand4ac3.html?xcode=001&amp;type=M&amp;mcode=004">Kingsdown</a></li>
							<li><a href="shop/shopbrand6342.html?xcode=001&amp;type=M&amp;mcode=005">BM ultra</a></li>
							<li><a href="shop/shopbrand67fc.html?xcode=001&amp;mcode=009&amp;type=X">Dreamly</a></li>
							<li><a href="shop/shopbrand4a17.html?xcode=001&amp;mcode=010&amp;type=X">Lamborghini</a></li>
						</ul>

						<ul>
							<li><a href="shop/page2e5f.html?id=22">About Realize</a></li>
							<li><a href="shop/page2e5f.html?id=22">Realize MATTRESS</a></li>
						</ul>

						<ul>
							<!--/<li><a href="/shop/shopbrand.html?xcode=002&mcode=001&type=X">Natural BED</a></li>/-->
							<li><a href="shop/shopbrand8101.html?xcode=002&amp;type=X&amp;mcode=002">Modern Fin BED</a></li>
							<li><a href="shop/shopdetail8d0d.html?branduid=2051384">Motion Bed</a></li>
							<!--/<li><a href="/shop/shopbrand.html?xcode=002&mcode=003&type=X">Lemp BED</a></li>/-->
						</ul>

						<ul>
							<li><a href="shop/shopbrand8f10.html?xcode=010&amp;mcode=001&amp;type=X">Interior Piece</a></li>
							<li><a href="shop/shopdetail5d13.html?branduid=1994787">WMDK Care Service</a></li>
							<li><a href="shop/shopbrand6df3.html?xcode=010&amp;mcode=004&amp;type=X">WMDK Pillow</a></li>
							<li><a href="shop/shopdetail74eb.html?branduid=2055476">BEDJET</a></li>
							<!--/<li><a href="/shop/shopbrand.html?xcode=010&mcode=003&type=X">Bed Side</a></li>/-->
						</ul>

						<ul>
							<li><a href="shop/page7429.html?id=15">진행중 이벤트</a></li>
							<li><a href="shop/page7429.html?id=15">진행완료 이벤트</a></li>
						</ul>

						<ul>
							<li><a href="board/power_review.html?code=wmdk_board2">WMDK Review</a></li>
							<li><a href="board/board98c8.html?code=wmdk_image2">Offline Shop Review</a></li>
						</ul>

						<ul>
							<li><a href="board/boarda3e7.html?code=wmdk">Q&A</a></li>
							<li><a href="shop/pagea9bc.html?id=19">FAQ</a></li>
							<li><a href="board/board737c.html?code=wmdk_board3">Notice</a></li>
							<li><a href="board/board5500.html?code=wmdk_image3">MATTRESS GUIDE</a></li>
							<li><a href="shop/page6258.html?id=21">USA Member</a></li>
							<li><a href="shop/page0b30.html?id=2">WMDK Offline Shop</a></li>
							<li><a href="shop/pagee371.html?id=18">AS Quality Assurance</a></li>
						</ul>




					</div>
				</div>
				<!-- //전체보기 메뉴 -->
			</div>
			<!-- //navWrap -->
		</div>
		<!-- //headerBottom -->

	</div>

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				거래현황 조회
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">

			<!-- 판매 중인 상품 현황 -->
			<div class="row" style="margin-bottom: 30px;">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div style="text-align: center; font-weight: bold; font-size: 24px; margin-bottom: 10px;">
							판매 중인 상품 리스트
						</div>
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
							<tr class="table_head">
								<th class="column-1">이미지</th>
								<th class="column-2">상품 명</th>
								<th class="column-3">가격</th>
								<th class="column-3">상태</th>
								<th class="column-3"></th>
							</tr>

							<tr class="table_row">
								<td class="column-1">
									<div class="how-itemcart1">
										<img src="images/item-cart-04.jpg" alt="IMG">
									</div>
								</td>
								<td class="column-2">Fresh Strawberries</td>
								<td class="column-3">$ 36.00</td>

								<td class="column-3">판매 중 <img src="images/icons/ing.png"></td>
								<td class="column-3">
									<ul>
										<li><button style="background-color: greenyellow; color: black; font-weight: bold; padding:10px; margin-bottom: 10px;" >판매완료</button></li>
										<li><button style="background-color: red; color: white ; font-weight: bold; padding:10px">판매취소</button></li>
									</ul>
								</td>
							</tr>
						</table>
						</div>
					</div>
				</div>
			</div>

			 <!--구매 요청 상품 현황-->
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div style="text-align: center; font-weight: bold; font-size: 24px; margin-bottom: 10px;">
							구매신청 상품 리스트
						</div>
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">이미지</th>
									<th class="column-2">상품 명</th>
									<th class="column-3">가격</th>
									<th class="column-3">상태</th>
								</tr>

								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="images/item-cart-04.jpg" alt="IMG">
										</div>
									</td>
									<td class="column-2">Fresh Strawberries</td>
									<td class="column-3">$ 36.00</td>

									<td class="column-3">판매 중 <img src="images/icons/ing.png"></td>
								</tr>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</form>


		

	<!-- Footer -->

	<div class="footer txt_footer lang_ko">

		<ul class="f_info">
			<li>경기도 안양시 동안구 비산동 임곡로 29&nbsp;전산관 5층&nbsp;|&nbsp;&nbsp; 모바일인터넷과 이원택 </li>
		</ul>
		<p class="copy">Copyright ⓒ <span>대림마켓</span> All Rights Reserved</p>
	</div>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>


	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/lazyload.min.js"></script>
	<script type="text/javascript" src="js/header.19871.js"></script>
</body>
</html>